@use "variables";
@use "sass:color";
@use "mixins/text";

.card {
  background-color: variables.$primary;
  margin: 5px;
  padding: 5px;

  &__btn {
    @include text.small-cap;
    width: 100%;
    padding: 0 5px;
    border: none;
    background: color.adjust(variables.$primary, $lightness: 15%);
    color: color.complement(variables.$primary);

    &:hover {
      background: color.adjust(variables.$primary, $lightness: 25%);
    }
  }
}
